html {
  box-sizing: border-box;
}

*,
*::before
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

img {
  max-width: 100%;
}

:root {
  --font-size: 16px;
  --line-height: 16px;
  --color-CC9933: #CC9933;
  --color-A47312: #A47312;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1170px;
  font-family: 'Muller', sans-serif;
  background: #E5E5E5;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 40px;
  font-size: 40px;
  line-height: 40px;
  color: #333;
  font-weight: 400;
}

.section-offset {
  padding-bottom: 70px;
}

/*container-header*/

.container-header {
  padding: 30px 0;
  align-items: center;
}

.header-link-personal-account {
  margin-left: auto;
  background-image: url('../img/arrow.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 22px;
  padding-left: 30px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-CC9933);
  padding-top: 4px;
}

.header-link-personal-account:focus {
  padding-left: 30px;
}

.header-link-personal-account:hover {
  color: #E9C479;
  background-image: url('../img/Vector.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 15px;
  padding-left: 30px;
}

.header-link-personal-account:active {
  color: var(--color-A47312);
}

.header-link-logo {
  margin-right: 40px;
}

.header-link-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-link-tel:focus,
.header-link-tel:hover {
 color: var(--color-CC9933);
}

.header-link-tel:active {
  color: var(--color-A47312);
  outline: none;
}

/*contiener-nav*/

.container-nav {
  background-color: #fff;
  border-radius: 15px;
}

.nav {
  padding: 13px 45px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #666666;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--color-CC9933);
}

.nav-link:active {
  color: var(--color-A47312);
}

.nav-list-btn{
  border-left: 1px solid #E1E1E1;
  padding-left: 57px;
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--color-CC9933);
  border-radius: 10px;
  color: var(--color-CC9933);
  font-size: var(--font-size);
  line-height: var(--line-height);
  transition: background-color .3s ease;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-CC9933);
  color: white;
  outline: 0 solid var(--color-CC9933);
  border-radius: 10px;
}

.btn:active {
  background-color: var(--color-A47312);
}

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.nav-list-btn-item:not(:last-child) {
  margin-right: 45px;
}

/* special-offers */

.background1 {
  background-image: url('../img/special-offers-image1.jpg');
  border-radius: 15px;
  position: relative;
  height: 258px;
  margin-bottom: 23px;
}

.background-common::after {
  content: "";
  display: block;
  width: 100%;
	height: 100%;
	position: absolute;
  top: 0;
	left: 0;
  background: transparent;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: 1;
}

.background2 {
  background-image: url('../img/special-offers-image2.jpg');
  border-radius: 15px;
  position: relative;
  height: 258px;
}

.background3 {
  background: url('../img/special-offers-image3.jpg');
  border-radius: 15px;
  height: 540px;
}

.special-offers-container {
  justify-content: space-between;
}

.special-offers-list {
  width: 573px;
}

.offers-item-article-left {
  flex-direction: column;
  padding: 40px 40px 25px 40px;
}

.offers-item-article-right {
  flex-direction: column;
  padding: 210px 234px 24px 40px;
}

.special-offers-title-left {
  max-width: 300px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  color: #FFF;
  z-index: 2;
}

.special-offers-title-right {
  max-width: 300px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 60px;
  color: #FFF;
}

.special-offers-text-left {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  z-index: 2;
}

.special-offers-text-right {
  max-width: 300px;
  margin: 0;
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 30px;
  color: #FFF;
}

.special-offers-link {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #FFCC66;
  width: 90px;
  z-index: 2;
  transition: width 1s ease;
}

.special-offers-card-link {
  display: block;
}

.special-offers-article:hover .special-offers-link {
  width: 105px;
}

.special-offers-card-link:focus {
  outline-offset: 8px;
  margin-bottom: 23px;
}

.special-offers-card-link:focus .background1 {
  margin-bottom: 0;
}

.special-offers-article:active .special-offers-link {
  color: white;
  outline: none;
}

.figure {
  background-image: url('../img/rectangle.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right center;
  padding-right: 15px;
}

/* about-us */

.about-us-text {
  max-width: 888px;
  font-size: var(--font-size);
  line-height: 200%;
  color: #000;
}

/* services */

.services-list {
  flex-wrap: wrap;
}

.services-list-item {
  width: 572px;
  margin-bottom: 23px;
  display: block;
}

.services-list-item:focus-within {
  outline: 1px solid var(--color-CC9933);
  outline-offset: 5px;
}

.services-list-item:hover .blog-preview-title {
  color: #E9C479;
}

.blog-preview-image {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.blog-preview-text {
  padding: 25px 125px 50px 45px;
  border-radius: 0 0 15px 15px;
  background: #FFF;
}

.blog-preview {
  padding: 0;
  overflow: hidden;
  font-size: 0;
}

.preview-title {
  background-size: 20px 20px;
  padding-right: 5px;
  transition: padding-right 1s ease;
}

.services-list-item:hover .preview-title {
  padding-right: 30px;
}

.services-list-item:hover path {
  stroke: #E9C479;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-CC9933);
  flex-direction: row;
  align-items: center;
}

.blog-preview-text {
  flex-direction: column;
}

.blog-preview-text-descr {
  margin: 0;
  font-size: var(--font-size);
  line-height: 200%;
  color: #000;
  max-width: 400px;
}

/* advantages */

.advantages-list{
  flex-wrap: wrap;
}

.advantages-list-item {
  max-width: 275px;
  max-height: 275px;
  margin-bottom: 23px;
  background-color: #FFF;
  border-radius: 15px;
  padding: 40px 40px 40px 45px;
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-text {
  padding-top: 80px;
  background-repeat: no-repeat;
  margin: 0;
  max-width: 188px;
  font-size: var(--font-size);
  line-height: 200%;
  color: #000;
}

.advantages-image1 {
  background-image: url('../img/bathtub.svg');
}

.advantages-image2 {
  background-image: url('../img/hanger.svg');
}

.advantages-image3 {
  background-image: url('../img/heating.svg');
}

.advantages-image4 {
  background-image: url('../img/hotel-key.svg');
}

.advantages-image5 {
  background-image: url('../img/parking.svg');
}

.advantages-image6 {
  background-image: url('../img/reception.svg');
}

.advantages-image7 {
  background-image: url('../img/security-box.svg');
}

.advantages-image8 {
  background-image: url('../img/swimming-pool.svg');
}

/* placement */

.placement-list {
  flex-wrap: wrap;
}

.placement-list-item {
  width: 374px;
  height: 440px;
  background-color: #fff;
  margin-bottom: 23px;
  border-radius: 15px;
}

.placement-list-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.card-preview {
  flex-direction: column;

}

.card-preview-text {
  position: relative;
  padding: 35px 45px 40px 45px;
}

.price-list {
  margin: 0;
  margin-bottom: 16px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #999;
}

.price-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #000;
  font-weight: normal;
}

.card-preview-descr {
  margin: 0;
  margin-bottom: 20px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #999;
}

.placement-image {
  border-radius: 15px 15px 0px 0px;
}

.stars {
  position: absolute;
  top: 35px;
  right: 45px;
}

.last-card {
  background-image: url('../img/card-9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.other-option-article {
  padding: 375px 30px 25px 54px;
}

.placement-list-text {
  width: 275px;
  flex-direction: row;
  align-items: center;
}

.placement-title-link {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFF;
  padding-right: 8px;
}

.other-option-article {
  position: relative;
}

.placement-title-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* wont tour */

.container-tour {
  width: 100%;
  height: 274px;
  background: #E9E9E9;
  border-radius: 15px;
}

.tour-title {
  padding-top: 38px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

input,
select {
  border: none;
}


.form {
  box-sizing: border-box;
  width: 1080px;
  margin: 19px 45px 71px 45px;
  padding: 31px 28px 30px 28px;
  background-color: #fff;
  border-radius: 15px;
}

.tour-text {
  margin: 0;
  padding-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

.form-font-style {
  margin: 0;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #000;
}

.form-indent {
  width: 121px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form-country {
  width: 165px;
}

.form-select-width1 {
  width: 160px;
}

.form-select-width2 {
  width: 150px;
}

.form-input-width {
  width: 140px;
}


.tour-list-item {
  border-right: 1px solid #E1E1E1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
}

.tour-list-item:not(:first-child) {
  margin-left: 20px;
}

.form-offset{
  margin-right: 20px;
}

.form-offset-last-child{
  margin-right: 30px;
}

.form-button {
  margin-left: 20px;
  align-items: center;
}

.form-btn {
  width: 108px;
  height: 42px;
}

#pyat1::-webkit-inner-spin-button {
  opacity: 1;
}

#pyat2::-webkit-inner-spin-button {
  opacity: 1;
}
/* contacts */

address {
  font-style: normal;
}

.container-contacts {
  padding: 44px 44px 46px 46px;
  flex-direction: row;
}

.contacts-address {
  background-color: #fff;
  min-height: 618px;
  border-radius: 15px;
}

.contacts-right {
  min-width: 653px;
  min-height: 528px;
  background-image: url('../img/image-contacts.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 51px;
}

.contacts-list {
  flex-direction: column;
  width: 374px;
}

.contacts-list-item {
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.contacts-text {
  width: 231px;
  margin: 0;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 150%;
}

.contacts-email-link:hover {
  color: #E9C379;;
}

.contacts-email-link:active {
  color: var(--color-A47312);
}

.contacts-text-link {
  color: var(--color-CC9933);
}

.contacts-email-descr {
  margin: 0;
  color: #999;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-list-item:first-child {
  margin-bottom: 25px;
}

.contacts-button {
  margin-top: 45px;
}

.contacts-btn {
  padding: 27px 29px;
}

.contacts-address {
  margin-bottom: 20px;
}

/* footer */

.footer {
  margin-bottom: 20px;
}

.container-footer {
  background-color: #333;
  border-radius: 15px;
  position: relative;
  background-image: url('../img/footer-vector.svg');
  background-repeat: no-repeat;
  background-position: 730px bottom;

}

.footer-left {
  padding-top: 45px;
  padding-left: 45px;
  width: 320px;
  flex-direction: column;
  margin-right: 105px;
}

.footer-center {
  padding-top: 45px;
  flex-direction: column;
  margin-right: 268px;
}

.footer-right {
  margin-top: 51px;
  flex-direction: column;
}

.info-text {
  margin: 0;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 190%;
  color: #FFF;
}

.link-text {
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 150%;
  color: var(--color-CC9933);
}

.footer-left-item {
  margin-bottom: 49px;
}

.footer-left-item:last-child {
  margin-bottom: 46px;
}

.footer-center-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-right-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-center-item {
  flex-direction: column;
}

.footer-image {
  position: absolute;
  background-image: url('../img/footer-vector.svg');
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: bottom right;
}


.footer-right-item:focus,
.footer-right-item:hover .footer-link-icon path {
  fill: var(--color-CC9933);
}

.footer-right-item:active .footer-link-icon path {
  fill: var(--color-A47312);
}
